{% extends 'base.html' %}
{% load static %}

{% block header %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<!-- icons -->
<link href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"/>
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"/>
<link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet"/>
<!-- font -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet"/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet"/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet"/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet"/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link href="https://fonts.googleapis.com/css2?family=Italiana&family=Italianno&display=swap" rel="stylesheet"/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link href="https://fonts.googleapis.com/css2?family=Caprasimo&display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Salsa&display=swap" rel="stylesheet"/>
<!-- Add Bootstrap CSS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="{% static '/css/styles.css' %}"/>

{% endblock %}

{% block title %} <title>Flavour Fusion Christmas Recipes</title> {% endblock %}

{% block content %} 



{% if event_instance %}
        {% if event_instance.event_img %}
            <div class="container" style="display: flex; justify-content: center; margin-top: 70px;">
                <img src="{{ event_instance.event_img.url }}" style="height: 550px; width: 1450px" />
            </div>
        {% endif %}
    {% endif %}

    

    <!-- writting -->
    <div class="container text-center mt-5">
      <h1 class="display-4">
        Peace on earth will come to stay, <br>when we live Christmas every day.
      </h1>
      <p class="lead">Eat, drink, and be merry</p>
    </div>

    <!-- cards -->
    <div class="container mt-5">
      <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="image-container">
              <img
                src="{{ recipe.recipe_image.url }}"
                class="card-img-top"
                alt=""/>
              <div class="overlay">
                <a href="#.html" class="text"><h5 class="no-underline">View Recipe</h5></a>
              </div>
            </div>
            <div class="card-body">
              <a href="#.html"><h5 class="no-underline" style="color: #000000">
                    {{ recipe.post_title }}
                </h5></a>
              <a href="#">
                <p class="no-underline" style="color: #000000; font-style: italic">
                {{ recipe.user_id.username }}
                </p></a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

{% endblock %}